.form {
  background-color: white;
  padding-left: 10px;
  border-radius: 30px;
  border: solid 5px #ff729f;
  height: 50px; 
  display: flex;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

.input {
 height: 2.5em; 
 width: 250px;
 border: 0;
 margin-right: 2em;
}

.input:focus {
  outline: 0;
}

.submit {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  border: solid 5px #ff729f;
  position: absolute;
  right: -5px;
  transition: .3s;
 }

 .submit:hover {
  background-color: #ff729f;
 }
