.app {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.postList {
  flex-grow: 2;
  flex-shrink: 1;
}

.subreddits {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 5em 2em 0;
  text-align: left;
  max-height: 100vh;
  background-color: #87919e;
}

.subreddits h2 {
  color: #ff729f;
}
